/** @format */

body {
	margin: 0;
	background: darkgrey;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#verticalButtons {
	display: flex;
	flex-direction: column; 
}
#button {
	margin: 2px;
	border: none;
	border-radius: 5px;
	padding: 5px, 5px, 7px, 5px;
	cursor: pointer;
}

button:hover {
	background: lightgray;
}

#carCanvas {
	background: #2a5
}

#networkCanvas {
	background: rgb(0, 0, 0);
}
